[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
python-dotenv = "*"
opencv-python = "*"
requests = "*"
exceptiongroup = "*"


[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
